# This file is part of prometheus-enhanced-snmp-exporte.
#
# prometheus-enhanced-snmp-exporte is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# prometheus-enhanced-snmp-exporte is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with prometheus-enhanced-snmp-exporte. If not, see <https://www.gnu.org/licenses/>.

[Unit]
Description=Enhanced SNMP prometheus exporter with multi host management
Documentation=https://github.com/alexises/prometheus-enhanced-snmp-exporter

[Service]
Type=simple
Restart=on-failure
EnvironmentFile=-/etc/sysconfig/prometheus-enhanced-snmp-exporter
ExecStart=/usr/bin/python3 /usr/bin/prometheus-enhanced-snmp-exporter \^
    --filename /etc/prometheus-enhanced-snmp-exporter/config.yaml
    --log-level $LOG_LEVEL \
    --listen $(LISTEN_ADDRESS) \
    --path $(PATH_ADDRESS) \
    --max-threads $(MAX_THREADS) \

[Install]
WantedBy=multi-user.target

